{% extends 'tracks/base.html' %}

{% block title %}
  {{ block.super }} - Artist List
{% endblock %}

{% block content %}

  <div class="row">
      <div class="main-content">
      <h2>{{ artist }}</h2>
      <table class="table  table-striped">
                <tr>
                  <th>Song Title</th>
                  <th>Artist</th>
                  <th>Favorite</th>
                  <th>Date Added</th>
                  <th>Duration (sec)</th>
                </tr>
            {% for song in tracks %}
                <tr>
                  <td>
                    {{song.name}}
                  </td>
                  <td>
                    {{song.artist}}
                  </td>
                  <td>
                    {{song.favorite}}
                  </td>
                  <td>
                    {{song.date_added}}
                  </td>
                  <td>
                    {{song.duration}}
                  </td>
                </tr>
            {% endfor %}
            </table>
      </div>
  </div>

{% endblock %}