
body {
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #984B43;

}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #233237;
    padding-bottom: 60px;

}

.navbar-fixed-top {
    background-color: #233237;
    min-height: 80px;
}

.fa-music {
    color: #EAC57A
}

a {
    color: #EAC57A;
}
.page-footer {
    margin-top: 0;

}

.main-content {
    background: white;
    padding: 20px;
    min-height: 80vh;
    height: 85vh;
}

.index-content {
    margin-top: 80vh
    min-height: auto;
    background-color: #fff;
}

.home-image {
    overflow: hidden;
    width: 300px;
    height: 225px;
}

